
<full-calendar [options]="calendarOptions"></full-calendar>


@if(isModalOpen){
  <div class="modal">
    <div class="modal-content">
      <span (click)="closeModal()" class="close">&times;</span>
      <p>{{ eventToEdit ? 'Edit Event' : 'Add Event' }}</p>  

      <label for="event-title">Title:</label>
      <input type="text" id="event-title" [(ngModel)]="newEventTitle" />

      <label for="event-color">Event Color:</label>
      <input type="color" id="event-color" [(ngModel)]="eventColor" />

      <div class="modal-buttons">
        <button (click)="submitEvent()">{{ eventToEdit ? 'Update' : 'Save' }}</button>
        <button (click)="closeModal()">Cancel</button>
        <button (click)="deleteEvent()">Delete</button>
      </div>
    </div>
  </div>
}

